/*Comments*/

/* Styles for the Comment component */
.commentContainer {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
  }
  
  .commentHeader {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .commentInfo {
    margin-bottom: 8px;
  }
  
  .commentInfo p {
    margin: 5px 0;
  }
  
  .replyContainer {
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin-top: 10px;
  }
/* Styles for the CommentsList component */
.commentsListContainer {
    margin-top: 20px;
  }
    